#speed-buttons-outerdiv-id{
    display:inline-block;
}

#btn-speed-container {
}

#current-speed {
    display: block;
}

#btns-speed-wrapper {
    /* grid */
    display: none;
    grid-template-columns: 30px 30px 30px 30px;
    grid-template-rows: 20px 20px;
}

/* .ytp-right-controls {
    display: block;
} */

#speed-buttons-outerdiv-id {
    display:inline-block;
    margin-left: 4px;
    align-items: center;
    justify-content: center;
}

.btn-speed {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 10px;
    margin: 2px;
    width: 24px;
    height: 18px;
    opacity: 0.9;
    border-radius: 4px;
    cursor: pointer;
}


/*quality*/
#btn-quality-container {
}

#current-quality {
    display: block;
}

#btns-quality-wrapper {
    /* grid */
    display: none;
    grid-template-columns: 30px 30px 30px 30px;
    grid-template-rows: 20px 20px;
}

#quality-buttons-outerdiv-id {
    display:inline-block;
    margin-left: 4px;
    align-items: center;
    justify-content: center;
}

.btn-quality {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 10px;
    margin: 2px;
    width: 24px;
    height: 18px;
    opacity: 0.9;
    border-radius: 4px;
    cursor: pointer;
}