#speed-buttons-outerdiv-id {
    display: flex;
    margin-right: 8px;
    margin-left: 4px;
    align-items: center;
    justify-content: center;
}

#current-speed {
    margin-left: 8px;
    display: block;
}

#current-speed-wrapper {
    display: flex;
}

#btns-speed-wrapper {
    /* grid */
    /* none */
    display: grid;
    grid-template-columns: 30px 30px 30px 30px;
    grid-template-rows: 20px 20px;
}

.btn-speed {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 10px;
    margin: 2px;
    width: 24px;
    height: 18px;
    opacity: 0.9;
    border-radius: 4px;
    cursor: pointer;
}

/*quality*/
#current-quality {
    display: block;
    transition: all 0.2s;
}

#current-quality-wrapper {
    display: flex;
}

#btns-quality-wrapper {
    /* grid */
    display: none;
    grid-template-columns: 46px 46px 46px 46px 46px;
    grid-template-rows: 20px 20px;
    transition: all 0.2s;
}

#quality-buttons-outerdiv-id {
    display: flex;
    margin-right: 8px;
    margin-left: 4px;
    align-items: center;
    justify-content: center;
}

.btn-quality {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 10px;
    margin: 4px;
    width: 44px;
    height: 18px;
    opacity: 0.9;
    border-radius: 4px;
    cursor: pointer;
}
